html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* add padding to the body to push down the header element*/
body {
  background-color: rgb(254, 247, 239);
}

/* Header is aligning the logo and the nav links use border to see the boxes for adj*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border: solid #ffdead 2px;
  width: 100%;
  height: 35px;
  background-color: #0077c0;
  color: #ffdead;
}

.align-header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* Updating the logo us flex and positioning  */
#logo {
  display: flex;
  align-items: center;
  position: relative;

  left: 10%;
  bottom: 5px;
  font-size: 1.2rem;
}
#logo2 {
  position: relative;
  right: 5px;
}
/* Header Nav is positioning the nav bar within the header element use border to see Box adj*/
header nav {
  width: 50%;
  position: relative;
  right: 6%;
}

/*ul is the unorder list in the nav bar and is updating the list position using flex */
.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 0.9rem;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.desc :hover {
  color: white;
  background: transparent;
}

/* Moving to who we are section of Page */

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: #ffdead;
  font-size: 20px;
  position: relative;
  right: 150px;
  top: 150px;
}

.align-img {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 22px;
  z-index: -1;
}

.airImg {
  width: 90%;
  height: 75vh;
  border: #ffdead solid 3px;
  object-fit: cover;
}

/* Items displays */
.items {
  display: flex;
  justify-content: center;
}

/* Card Container and alignment adjustments */

.align-cards {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  border: solid #0077c0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  background-color: #ffdead;
  gap: 2.5%;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #0077c0 1px solid;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 705px) {
  header nav {
    width: 100%;
  }
  #logo {
    opacity: 0;
  }
  .slogan {
    position: relative;
    right: 120px;
  }
  .airImg {
    object-fit: cover;
  }

  @media screen and (max-width: 425px) {
    .slogan {
      position: relative;
      right: 75px;
    }
    @media screen and (max-width: 320px) {
      .slogan {
        position: relative;
        right: 50px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1370px) {
  .cardImg {
    width: 225px;
    height: 225px;
  }

  .airImg {
    object-fit: cover;
  }
}
@media screen and (max-width: 955px) {
  .cardImg {
    width: 175px;
    height: 175px;
  }

  .airImg {
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .cardImg {
    width: 165px;
    height: 165px;
  }

  @media screen and (max-width: 554px) {
    .cardImg {
      width: 125px;
      height: 125px;
    }
  }
  @media screen and (max-width: 480px) {
    .cardImg {
      width: 105px;
      height: 105px;
    }
  }
  @media screen and (max-width: 375px) {
    .cardImg {
      width: 95px;
      height: 95px;
    }
  }
  @media screen and (max-width: 320px) {
    .cardImg {
      width: 85px;
      height: 85px;
    }
  }

  .airImg {
    object-fit: cover;
  }
}
